
@import url(../lib/font/source-sans-pro/source-sans-pro.css);

body {
  
background: #fff;
  
background-color: #fff; 
font-family: "Source Sans Pro", Helvetica, sans-serif;
  
font-weight: normal;
  
color: #222; 
}