---
layout: default
title: Microbit Activities
---

Building tiny games and applications on the BBC micro:bit using Python.

Make sure you have downloaded the <a href="http://codewith.mu/">micro:bit Editor</a>


<h2>Level 1</h2>

<ul class="fa-ul">
{% assign sheets = (site.activities-microbit | where: "level", "1") %}
{% for sheet in sheets %}
<li><span class="fa-li"><i class="fas fa-code"></i></span><a href="activities-microbit/{{ sheet.url }}">{{ sheet.title }}</a></li>
{% endfor %}
</ul>


<h2>Level 2</h2>

<ul class="fa-ul">
{% assign sheets = (site.activities-microbit | where: "level", "2") %}
{% for sheet in sheets %}
<li><span class="fa-li"><i class="fas fa-code"></i></span><a href="activities-microbit/{{ sheet.url }}">{{ sheet.title }}</a></li>
{% endfor %}
</ul>


<h2>Level 3</h2>

<ul class="fa-ul">
{% assign sheets = (site.activities-microbit | where: "level", "3") %}
{% for sheet in sheets %}
<li><span class="fa-li"><i class="fas fa-code"></i></span><a href="activities-microbit/{{ sheet.url }}">{{ sheet.title }}</a></li>
{% endfor %}
</ul>


<h2>Level 4</h2>

<ul class="fa-ul">
{% assign sheets = (site.activities-microbit | where: "level", "4") %}
{% for sheet in sheets %}
<li><span class="fa-li"><i class="fas fa-code"></i></span><a href="activities-microbit/{{ sheet.url }}">{{ sheet.title }}</a></li>
{% endfor %}
</ul>
