<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Makers and Creators</title>
    <meta name="description" content="slides for makers and creators week">
    <meta name="author" content="Derek Grahahm">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ site.url }}/css/reveal.css">
    <link rel="stylesheet" href="{{ site.url }}/{{ site.presentation-theme }}">
    <link rel="stylesheet" href="{{ site.url }}/{{ site.syntax-theme }}">
    <script defer src="{{ site.url }}/js/fontawesome-all.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	       {{ content }}
      </div>
    </div>

    <script src="{{ site.url }}/js/reveal.js"></script>
    <script>
	     Reveal.initialize();
    </script>
  </body>
</html>
