<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Makers and Creators</title>
    <meta name="description" content="slides for makers and creators week">
    <meta name="author" content="Derek Grahahm">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ site.url }}/css/reveal.css">
    <link rel="stylesheet" href="{{ site.url }}/css/theme/{{ site.presentation-theme }}.css">
    <link rel="stylesheet" href="{{ site.url }}/css/{{ site.syntax-theme }}.css">
    <script defer src="{{ site.url }}/js/fontawesome-all.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	       {{ content }}
      </div>
    </div>

    <script src="{{ site.url }}/js/reveal.js"></script>
    <script>
      Reveal.initialize({
        // Display controls in the bottom right corner
        controls: true,
        // Display a presentation progress bar
        progress: true,
        // If true; each slide will be pushed to the browser history
        history: false,
        // Loops the presentation, defaults to false
        loop: false,
        // Optional libraries used to extend on reveal.js
        dependencies: [
            {src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad();}}
        ]
    });
    </script>
  </body>
</html>
