<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Makers and Creators</title>
    <meta name="description" content="slides for makers and creators week">
    <meta name="author" content="Derek Grahahm">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ site.url }}/css/reveal.css">
    <link rel="stylesheet" href="{{ site.url }}/css/theme/{{ site.presentation-theme }}.css">
    <link rel="stylesheet" href="{{ site.url }}/css/{{ site.syntax-theme }}.css">
    <script defer src="{{ site.url }}/js/fontawesome-all.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
	       {{ content }}
      </div>
    </div>

    <script src="{{ site.url }}/js/reveal.js"></script>
    <script>
    // Required, even if empty.
     Reveal.initialize({
         dependencies: [
             // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
             { src: '{{ site.url }}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
             // Interpret Markdown in <section> elements
             { src: '{{ site.url }}/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
             { src: '{{ site.url }}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
             // Syntax highlight for <code> elements
             { src: '{{ site.url }}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
             // Zoom in and out with Alt+click
             { src: '{{ site.url }}/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
             // Speaker notes
             { src: '{{ site.url }}/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
           ]
     });
    </script>
  </body>
</html>
