<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,
      
      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides
      
      Thanks!
    -->
      
    <!-- SEO -->
    <title>Makers and Creators</title>
    <meta name="description" content="slides for makers and creators week">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    
    <!-- CSS Base -->
    <link rel="stylesheet" type="text/css" media="all" href="../assets/css/base.css">
    
    <!-- CSS Colors -->
    <link rel="stylesheet" type="text/css" media="all" href="../assets/css/colors.css">
    
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="../assets/css/svg-icons.css">
    
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">
  
  </head>
  <body>
    <main role="main">
      <article id="webslides">
	  {{ content }}
      </article>
    </main>
    <!--main-->
    
	  
    <!-- Required -->
    <script src="../js/webslides.js"></script>
    <script>
      window.ws = new WebSlides();
    </script>
	  
    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="../js/svg-icons.js"></script>
  
  </body>
</html>
